.wrapper {
  display: grid;
  grid-template-columns: repeat(77, 1fr);
  grid-template-rows: repeat(100, 1fr);
  height: 100vh;
}

.cover {
  grid-area: 1/1/100/100;
  z-index: 100;
}

.user {
  grid-area: 3 / 67 / 7 / 75;
  height: 100%;
  background-color: transparent !important;
  border-radius: .25em;
  opacity: 1;
}

.user_inner {
  width: 100%;
  height: 100%;
  background-color: transparent !important;
}

.one {
  grid-column: 2/78;
  grid-row: 1/28;
  border-radius: 5px 5px 5px 5px;
  background: linear-gradient(87deg, #5e72e4 0, #825ee4 100%);
  padding-top: 10px;
  padding-right: 5px;
  background-color: #5758bb;
  box-shadow: 2px 4px 2px lightgray;
  font-weight: 500;
}

.two {
  grid-column: 53 / 75;
  grid-row: 23 / 54;
  border-radius: 5px 5px 5px 5px;
  background-color: #5758bb;
  box-shadow: 0px 2px 0px lightgray;
}

.three {
  display: grid;
  grid-template-columns: repeat(37, 1fr);
  grid-template-rows: repeat(58, 1fr);
  grid-column: 14/51;
  grid-row: 23 / 86;
  border-radius: 5px 5px 5px 5px;
  background-color: #5758bb;
  box-shadow: 2px 2px 2px lightgray;
}

.left {
  grid-column: 1/11;
  grid-row: 1/100;
  background-color: #5758bb;
  box-shadow: 2px 2px 2px lightgray;
}

.five{
  grid-column: 53 / 75;
  grid-row: 58 /86;
  border-radius: 5px 5px 5px 5px;
  background-color: #5758bb;
  box-shadow: 0px 2px 0px lightgray;
}
.five .notice-pretty{
  font-weight: 400 !important;
  font-size: 1.5rem;
  color: #1b1e21;
}
.five .notice-pretty2{
  font-weight: 500 !important;
  font-size: 2rem;
}
li.menu {
  width: 100%;
  list-style: none;
  line-height: 3em;
  font-family: sans-serif;
}

li.menu:hover, li.menu:focus {
  background-color: #f2f2f2;
}

li.menu:active {
  font-weight: 700;
}

.friend-list li {
  width: 100%;
  list-style: none;
  line-height: 3em;
  font-family: sans-serif;
}

.friend-list li:hover, .friend-list li:focus {
  background-color: #f2f2f2;
}
a:link {
  color: gray;
  text-decoration: none;
}

a:visited {
  color: gray;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}
ul {
  list-style: none;
  line-height: 3em;
}
.component-fade-enter-active, .component-fade-leave-active {
  transition: opacity .3s ease;
}

.component-fade-enter, .component-fade-leave-to {
  opacity: 0;
}

